.textselection{
    -webkit-user-select:none; 
        -webkit-touch-callout:none; 
             -moz-user-select:none; 
             -ms-user-select:none; 
             user-select:none;    
  
}
.textselection:hover{
    cursor: pointer;
    background: grey
}
.box{
    border-color: black ; 
    border-style:solid; 
    text-align: center;
    overflow: hidden;
     

}
.ellipsis {
    max-width: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}